{% extends "base.html.twig" %}


{% block body %}
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
            {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% set const = constant('App\\Client\\AzureClient::ACTION_START') %}
     <div class="bg-dark row-full text-light text-center" >
         <h1>{{ game.name }}</h1>
         <div class="bg-dark"><img class="rounded mx-auto d-block" src="/img/{{game.img}} ?>" alt="..." /></div>
         <a href="{{ path('game_play', {'id': game.id }) }}" id="launch-game">Lancer le jeu </a>
    </div>

{% endblock %}